.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  
}

.header {
  font-size: 0.95rem;
  font-family: var(--font-mono);
  /*background-color: blue;*/
}

.grid_container{
	display: grid;
	grid-template-columns: 40px 40px 40px 40px 40px;
	grid-template-rows: 40px 40px 40px 40px 40px 40px;
	gap: 5px;
	/*background-color: blue;*/
}

.grid_item{
	border: 1px solid white;
	text-align: center;
}

.keyboard{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	/*background-color: purple;*/
}

.key_row{
	display: flex;
	justify-content: space-between;
	/*background-color: red;*/
}

.key_row button{
	/*background-color: green;*/
}